<div class="Tipo">
        <form id="tipo-form">
            <h1>Tipo de bien</h1>
                {{#if jefelab}}
                    <div class="ingresar">
                        <div class="izq">
                            <h3>Mobiliario y Equipo de computo</h3>
                            <a href="/mobiliario-equipo-computo">
                                <button type="button">
                                    <img src="../img/computadora32.png" alt="" title="Ver">
                                </button>
                            </a>
                        </div>
                        <div class="der">
                            <h3>Refacciones y accesorios</h3>
                            <a href="/refacciones-accesorios">
                                <button type="button">
                                    <img src="../img/teclado-y-raton.png" alt="" title="Ver">
                                </button>
                            </a>
                        </div>
                    </div>
                {{/if}}
                {{#if jefedep}}
                    <div class="ingresar">
                        <div class="izq">
                            <h3>Mobiliario y Equipo de computo</h3>
                            <a href="/jd-mobiliario-equipo-computo">
                                <button type="button">
                                    <img src="../img/computadora32.png" alt="" title="Ver">
                                </button>
                            </a>
                        </div>
                        <div class="der">
                            <h3>Refacciones y accesorios</h3>
                            <a href="/jd-refacciones-accesorios">
                                <button type="button">
                                    <img src="../img/teclado-y-raton.png" alt="" title="Ver">
                                </button>
                            </a>
                        </div>
                    </div>
                {{/if}}
                {{#if aux}}
                    <div class="ingresar">
                        <div class="izq">
                            <h3>Mobiliario y Equipo de computo</h3>
                            <a href="/al-mobiliario-equipo-computo">
                                <button type="button">
                                    <img src="../img/computadora32.png" alt="" title="Ver">
                                </button>
                            </a>
                        </div>
                        <div class="der">
                            <h3>Refacciones y accesorios</h3>
                            <a href="/al-refacciones-accesorios">
                                <button type="button">
                                    <img src="../img/teclado-y-raton.png" alt="" title="Ver">
                                </button>
                            </a>
                        </div>
                    </div>
                {{/if}}
        </form>
    </div>