<div class="Tipo">
        <form id="tipo-form">
            <h1>Garantía por tipo de bien</h1>
            <div class="ingresar">
                <div class="izq">
                    <h3>Mobiliario y Equipo de computo</h3>
                    <a href="/garantias-mobiliario-equipo-computo">
                        <button type="button">
                            <img src="../img/computadora32.png" alt="" title="Ver">
                        </button>
                    </a>
                </div>
                <div class="der">
                    <h3>Refacciones y accesorios</h3>
                    <a href="/garantias-refacciones-accesorios">
                        <button type="button">
                            <img src="../img/teclado-y-raton.png" alt="" title="Ver">
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>