<div class="login">
    <h1>Login</h1>
    <div class="form">
        <form action="/users/login" method="POST">
            <input type="email" name="email" class="login-control" placeholder="Correo" required="true" autofocus>
            <input type="password" name="password" class="login-control" placeholder="Contraseña" required="true">
            <button type="submit" class="aceptar">Aceptar</button>
        </form>
    </div>
</div>