<div class="form-container">
        <form id="signin-form">
            <h1>Inicio de sesión</h1>
            <ul>
                <li>
                    <a href="/users/login">Jefe de departamento</a>
                </li>
                <li>
                    <a href="/users/login">Jefe de laboratorio</a>
                </li>
                <li>
                    <a href="/users/login">Auxiliar de laboratorio</a>
                </li>
            </ul>
        </form>
    </div>