<div class="index">
    {{#if jefelab}}
        <h2>JEFE DE LABORATORIO</h2>
    {{/if}}
    {{#if jefedep}}
        <h2>JEFE DE DEPARTAMENTO</h2>
    {{/if}}
    {{#if aux}}
        <h2>AUXILIAR DE LABORATORIO</h2>
    {{/if}}
</div>

